@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Mulish:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Design system variables */
:root {
  --ff-primary: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Mulish', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-primary: #3849aa;
  --clr-primary-light: #6e74dc;
  --clr-primary-dark: #00227a;

  --clr-secondary: #ffca28;
  --clr-secondary-light: #fffd61;
  --clr-secondary-dark: #c79a00;

  --clr-white: #ffffff;
  --clr-black: #000000;

}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-secondary);
}

.title {
  font-family: var(--ff-primary);
}

#root {
  height: 100%;
}

.main-container {
  display: flex;
  height: 100%;
}

.branding-container {
  background-color: var(--clr-secondary);
  width: 35%;
}

.jadwalin-logo-sm {
  margin: 1rem;
  width: 7rem;
}

.branding-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.branding-content img {
  width: 90%;
}

.auth-container {
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  width: 65%;
}

.intro-container {
  font-size: 1.25rem;
  color: var(--clr-white);
}