@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Mulish:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Design system variables */
:root {
  --ff-primary: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Mulish', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-primary: #3849aa;
  --clr-primary-light: #6e74dc;
  --clr-primary-dark: #00227a;

  --clr-secondary: #ffca28;
  --clr-secondary-light: #fffd61;
  --clr-secondary-dark: #c79a00;

  --clr-white: #ffffff;
  --clr-black: #000000;

}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-secondary);
}

.title {
  font-family: var(--ff-primary);
}

#root {
  height: 100%;
}

span {
  font-weight: var(--fw-bold);
}